#main-loading{
	background-color:#bed000;
	background-image: url('images/BackImage.jpg');
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/predefined_loading_4.gif');
	background-repeat: no-repeat;
	width:58px;
	height:29px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
